.col{
    color:red;
}
.col1{
    color: blue;
    width: 15%;
    height: 35px;
    font-size:18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: rgb(94, 182, 182);
}
.col1:hover{
    color: red;
}
.mar{
    margin-top: 100px;
}
.input{
    height: 27px;
    width: 20%;
    font-size:20px;
    border-color:green;
    border-width: 1cqmax;
}
.fill{
    color: rgb(3, 0, 0);
}
.data{
 color:rgb(6, 2, 253);
 font-size:30px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table {
  width: 90%;
  margin: 30px auto;
  border-collapse: collapse;
  font-size: 20px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.4);
  color: black;
}
.table th, .table td {
  border: 2px solid black;
  padding: 12px 15px;
  text-align: center;
}
.table th {
  background-color:rgb(10, 92, 92);
  text-transform: uppercase;
}

